<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- data -->
<head>
    <link rel="stylesheet" href="styles.css"/>
</head>

<body>

<div class="wrapper">
    <div class="header-wrapper">
        <div class="header">
        <div class="name"> Laila Duffy </div>
        <div class="description"> <i> Hi! I'm a developer in training :) </i> </div>
        </div>
        <span>
            <img src="Duck.png"/>
        </span>
    </div>
    <br/>
    <br/>
    <div class="middle-wrapper">
        <div class="project-name"> <b> Lesson 1 </b> </div>
        <div class="project-image">
            <img src="images.jpg">
        </div>
        <div class="project-description"> Lesson 1 description </div>
    </div>

</div>

</body>
<br/>
<br/>
<footer>
    <div id="courseName"> SheGoesTech JAVA 2
        <a id="link" href="https://github.com/LailaDuffy"> Link to my GitHub </a>
    </div>
</footer>
</html>
